/* our comment */

/* genereic selector*/

body {
    background-color: pink;
 color:black ;
     font-family: Bodoni, monospace;
    margin:0;
    overflow: hidden;
}

ul {
margin: 0;
padding: 0;}

li{
    list-style: none;
}

a{ 
    color: black;
    transition: color 200ms ease-in; 

}
/*psuedo selector - user interacts*/
 a:hover{ 
color: orange;
}
img{
width: 100%;
}

/*id and class selector  */
#container{ 
    min-width: 320px;
    max-width:  width: 960px;
    margin: 0 auto;
}

#header {
    display: flex;
    justify-content: space-between;
        align-items: center;
}
/*nestsed selector*/ 
#header ul{
    display: flex;
}
#header li{
margin-left: 1em;
}
#header a{
font font-size: 1.5em;
}

#portfolio{ 

display: grid;
grid-template-columns:1fr 1fr 1fr ;
    grid-gap: 1em;
}

.project{
border:1px solid orange;
    padding: 1em;
    background-color: transparent;
    transition: background-color 200ms easy-in;
}

.project:hover{
background-color: aquamarine;
}
.project a {
font-size: 1.25em;
}

/*about*/
#portrait
{
    width: 200px;
    float: right;
}
#about{
font-size: 
}